@import "../../style-tokens.scss";

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  height: calc(100vh-60px);


  .row {
    height: 100%;
    display: flexbox;
    flex-direction: row;
    align-items: flex-end;
  }

  .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3em;

      .btn-primary {
        background-color: $rcb-color-hellblau;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 768px) {
    .btn {
      font-size:1em;
      padding:4px 6px;

    }
  }

  @media (min-width: 768px) {
    .btn {
      font-size:1.5em;
      padding:6px 12px;
    }
  }

  @media (min-width: 992px) {
    .btn {
      font-size:1.5em;
      padding:8px 12px;
    }
  }

  @media (min-width: 1200px) {
    .btn {
      padding:10px 16px;
      font-size:1.5em;
    }
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
